{% extends 'core/base.html' %}

{% block content %}
{% load static %}
<form method="post">
    {% csrf_token %}
    <div class="content-authentication">
        <div class="authentication-content-box">
            <div class="flex-row-authentication">
                <div class="info-title-box-password-confirm">
                    <div class="info-title valign-text-middle plusjakartasans-semi-bold-black-20px">
                        Password Reset Confirm
                    </div>
                    <p class="info-help valign-text-middle plusjakartasans-medium-nepal-15px">
                        Please enter your new password.
                    </p>
                </div>
            </div>
            <div class="field-box-authentication">
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        New password {{ form.new_password1.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                <label for="id_new_password1"></label>
                                <input type="text" name="new_password1"
                                    class="element-text valign-text-middle plusjakartasans-medium-nepal-15px"
                                    placeholder="Enter your password" required="" id="id_new_password1" value="{{ form.new_password1.text }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field-box-authentication">
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        New password again {{ form.new_password2.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                <label for="id_new_password2"></label>
                                <input type="text" name="new_password2"
                                    class="element-text valign-text-middle plusjakartasans-medium-nepal-15px"
                                    placeholder="Enter your password" required="" id="id_new_password2" value="{{ form.new_password2.text }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="authorisation-button">
                <div class="button-for-info-page">
                    <div class="button-back-to-main button">
                        <a class="button-back-to-main-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px" href="{% url 'home' %}">
                            Back to main
                        </a>
                    </div>
                    <div class="button-rental button">
                        <input class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px" type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}