.item-body {
    padding: 10px 106px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    column-gap: 7px;

    column-gap: 7px;

    &__title {
        min-width: 142px;
        font-weight: 500;

    }

    &__carName {
        font-size: 15px;
        line-height: 19px;
        color: #1A202C;
    }

    &__carClass {
        font-size: 12px;
        line-height: 15px;
        color: #90A3BF;
    }

    &__img {
        width: 206px;
        display: flex;
        align-self: flex-end;

        img {
            width: 100%;
        }
    }

    &__specs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: 11px;
        min-width: 168px;
    }

    &__price {
        min-width: 87px;

        span {
            font-weight: 700;
            font-size: 15px;
            line-height: 19px;
            color: #1A202C;
        }

        p {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #90A3BF;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        column-gap: 7px;
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
    }
}

.text {}

.about {
    background-color: #fff;
    border: 1px solid #3563E9;
    padding: 10px 15px;

    &__link {
        color: #3563E9;

    }
}

.btn {}

.rent-now {
    padding: 10px 7px;

    &__link {}
}