@import "../../style.scss";

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 593px;
    background-color: #5CAFFC;
    padding: 25px;
    border-radius: 15px;

    &__description-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 12px;

        // &:not(:last-child) {
        //     margin-bottom: 25px;
        // }

    }

    &__img-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-right: -15px;
        // width: 70%;

        img {
            // margin-bottom: -25px;

            width: 100%;
            max-height: 170px;
            object-fit: cover;
            object-position: center;
        }
    }
}

.card-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: #FFFFFF;
}

.card-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}

.card-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    padding: 7px 20px;
}

.btn {}

@media(max-width: $tablet) {
    .card {
        margin: 0 auto;
        max-width: 640px;
    }

    .card:not(:first-child) {
        display: none;
    }
}

@media(max-width: $mobileSmall) {
    section .adt__container {
        padding: 0px 0px;
    }

    .card {
        border-radius: 0px;
        padding: 15px;
    }

    .card__img-body {
        margin-top: 20px;
    }
}