@import "../../style.scss";

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 593px;
    background-color: #5CAFFC;
    padding: 25px;
    border-radius: 15px;

    &__description-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 12px;
    }

    &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 120%;
        color: #FFFFFF;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #FFFFFF;
    }

    &__btn {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        padding: 7px 20px;
        z-index: 2;
    }

    &__img-body {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 170px;
        margin-bottom: 5px;

        // display: flex;
        // align-items: center;
        // justify-content: space-between;

        // width: 100%;
        // height: 130px;

        // display: flex;
        // align-self: flex-end;
        // margin-right: -15px;
        // width: 70%;

        img {
            width: 100%;
            max-height: 220px;
            object-position: center;
            object-fit: cover;
            margin-bottom: -25px;

            // width: 100%;
            // max-height: 200px;
            // object-position: center;
            // object-fit: scale-down;

            // width: 100%;
            // height: 100%;
            // object-position: center;
            // object-fit: none;

            // margin-bottom: -25px;

            // width: 100%;
            // max-height: 170px;
            // object-fit: cover;
            // object-position: center;
        }
    }
}

@media(max-width: $pc) {
    .card__img-body img {
        max-height: 180px;
    }

    .card__img-body {
        height: 140px;
    }
}


@media(max-width: $tablet) {
    .card {
        margin: 0 auto;
        max-width: 640px;
    }

    .card:not(:first-child) {
        display: none;
    }
}

@media(max-width: $mobile) {
    .card__img-body {
        @include adaptiveValue("height", 160, 70, 767, 320);
        @include adaptiveValue("margin-bottom", 5, 25, 767, 320);
    }
}

@media(max-width: $mobileSmall) {
    section .adt__container {
        padding: 0px 0px;
    }

    .card {
        border-radius: 0px;
        padding: 15px;

        &__title {
            font-size: 19px;
        }

        &__text {
            font-size: 15px;
        }

        &__btn {
            font-size: 15px;
        }

        &__img-body {
            margin-top: 20px;
        }
    }


}