{% extends 'core/base.html' %}

{% block content %}
{% load static %}
    <div class="detail-content">
    <div class="detail">
        <div class="detail-col">
            <div class="detail-title">
                <div class="detail-title-text valign-text-middle plusjakartasans-semi-bold-black-20px">
                    {{ car.title }}
                </div>
                <div class="review">
                    <div class="star">
                        <img class="star-image" src="{% static 'core/images/star.png' %}" alt="star"/>
                        <img class="star-image" src="{% static 'core/images/star.png' %}" alt="star"/>
                        <img class="star-image" src="{% static 'core/images/star.png' %}" alt="star"/>
                        <img class="star-image" src="{% static 'core/images/star.png' %}" alt="star"/>
                        <img class="star-image" src="{% static 'core/images/star.png' %}" alt="star"/>
                    </div>
                    <div class="review-text valign-text-middle plusjakartasans-bold-nepal-12px">
                        440+ Reviewer
                    </div>
                </div>
            </div>
            <div class="detail-info-block">
                <div class="detail-info">
                    <p class="detail-info-text valign-text-middle plusjakartasans-medium-east-bey-15px">
                        NISMO has become the embodiment of Nissan's outstanding performance, inspired by the most unforgiving proving ground, the "race track".
                    </p>
                    <div class="detail-info-specification">
                        <div class="specification-item">
                            <div class="specification-item-title valign-text-middle plusjakartasans-bold-mirage-15px">
                                Type Car
                            </div>
                            <div class="specification-item-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ car.cat }}
                            </div>
                        </div>
                        <div class="specification-item">
                            <div class="specification-item-title valign-text-middle plusjakartasans-bold-mirage-15px">
                                Gasoline
                            </div>
                            <div class="specification-item-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ car.gasoline }}
                            </div>
                        </div>
                        <div class="specification-item">
                            <div class="specification-item-title valign-text-middle plusjakartasans-bold-mirage-15px">
                                Steering
                            </div>
                            <div class="specification-item-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ car.engine}}
                            </div>
                        </div>
                        <div class="specification-item">
                            <div class="specification-item-title valign-text-middle plusjakartasans-bold-mirage-15px">
                                Capacity
                            </div>
                            <div class="specification-item-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ car.capacity }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-for-info-page">
                    <div class="button-back-to-main button">
                        <a class="button-back-to-main-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px" href="#">
                            Back to main
                        </a>
                    </div>
                    <div class="button-rental button">
                        <a class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px" href="#">
                            Rent now
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="detail-photo">
            <div class="main-photo-box">
                <img class="main-photo" src="{{ car.main_photo.url }}" alt="main_photo"/>
            </div>
            <img class="other-car-photo" src="{{ car.inside_photo_one.url }}" alt="inside_photo_one">
            <img class="other-car-photo" src="{{ car.inside_photo_two.url }}" alt="inside_photo_two">
        </div>
    </div>
    </div>
{% endblock %}