{% extends 'core/base.html' %}

{% block content %}
{% load static %}
    <!--CONTENT-->
    <div class="content">
        <!--ADS-->
        <div class="ads">
            <div class="ads-1">
                <div class="overlap-group overlap">
                    <img class="bg" src="{% static 'core/images/bg.png' %}" alt="BG"/>
                    <div class="ads-2">
                        <div class="title title-2">
                            <p class="the-best-platform-for-car-rental valign-text-middle plusjakartasans-semi-bold-white-22px">
                                The Best Platform for Car Rental
                            </p>
                            <p class="ease-of-doing-a-car valign-text-middle plusjakartasans-medium-white-18px">
                                Ease of doing a car rental safely and reliably. Of course at a low prise.
                            </p>
                        </div>
                        <div class="button-rent button">
                            <a class="rent valign-text-middle plusjakartasans-semi-bold-white-20px" href="#">
                                Rental Car
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ads-2-1">
                <div class="overlap-group1 overlap">
                    <img class="bg-1" src="{% static 'core/images/bg-1.png' %}" alt="BG"/>
                    <div class="ads-3">
                        <div class="title-1 title-2">
                            <p class="ease-way-to-rent-a-car-at-a-low-price valign-text-middle plusjakartasans-semi-bold-white-22px">
                                Easy way to rent a car at a low price
                            </p>
                            <p class="providing-cheap-car valign-text-middle plusjakartasans-medium-white-18px">
                                Providing cheap car rental services and safe and comfortable facitilites.
                            </p>
                        </div>
                        <div class="button-rent-1 button">
                            <a class="rent valign-text-middle plusjakartasans-semi-bold-white-20px" href="#">
                                Rental Car
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END ADS-->
        <div class="filter-plus-rows">
        <div class="flex-row">
            <div class="filter">
                <!--Category 1-->
                <div class="category">
                    <div class="category-title valign-text-middle plusjakartasans-semi-bold-polo-blue-15px">
                        T Y P E
                    </div>
                    {% for c in cats %}
                        <div class="category-name">
                            <div class="category-name-text-box category-name-2">
                                <div class="category-name-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                    <span>
                                        <a class="plusjakartasans-semi-bold-east-bay-12px" href="{{ c.get_absolute_url }}">
                                            {{ c.name }}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="category-title valign-text-middle plusjakartasans-semi-bold-polo-blue-15px">
                        S T E E R I N G
                    </div>
                    {% for s in steer %}
                        <div class="category-name">
                            <div class="category-name-text-box category-name-2">
                                <div class="category-name-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                    <span>
                                        <a class="plusjakartasans-semi-bold-east-bay-12px" href="{{ s.get_absolute_url }}">
                                            {{ s.name }}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="category-title valign-text-middle plusjakartasans-semi-bold-polo-blue-15px">
                        C A P A C I T Y
                    </div>
                    {% for cap in capas %}
                    <div class="category-name">
                        <div class="category-name-text-box category-name-2">
                            <div class="category-name-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                <span>
                                    <a class="plusjakartasans-semi-bold-east-bay-12px" href="{{ cap.get_absolute_url }}">
                                        {{ cap.name }}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--END Category 1-->
            </div>
        </div>
        <!--Cards-->
        <div class="flex-col">
                    <div class="cards">
                        <ul>
                            {% for c in cars %}
                                <li>
                                <div class="card">
                                    <div class="car-name">
                                        <div class="car-main-name valign-text-middle plusjakartasans-bold-mirage-15px">
                                            {{ c.title }}
                                        </div>
                                        <div class="car-sub-name valign-text-middle plusjakartasans-bold-nepal-12px">
                                            {{ c.cat }}
                                        </div>
                                    </div>
                                    <div class="car">
                                        <img class="car-photo" src="{{ c.main_photo.url }}" alt="Car"/>
                                    </div>
                                    <div class="specification">
                                        <div class="gasoline">
                                            <div class="gasoline-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                                {{ c.gasoline }}L
                                            </div>
                                        </div>
                                        <div class="engine-type">
                                            <div class="engine-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                                {{ c.engine }}
                                            </div>
                                        </div>
                                        <div class="capacity">
                                            <div class="capacity-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                                {{ c.capacity }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price price-8">
                                        <div class="price-text-box valign-text-middle plusjakartasans-semi-bold-white-12px">
                                            <span>
                                                <span class="plusjakartasans-bold-mirage-15px">
                                                    ${{ c.price }}/
                                                </span>
                                                <span class="plusjakartasans-bold-nepal-12px">
                                                    day
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="button-about button">
                                        <a class="button-about-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px" href="{{ c.get_absolute_url }}">
                                            About
                                        </a>
                                    </div>
                                    <div class="button-rental button">
                                        <a class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px" href="payment/{{ c.title }}">
                                            Rent now
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--END Cards-->
                    <!--SWITCH-PAGE-->
                    {% if page_obj.has_other_pages %}
                    <div class="switch-page">
                        {% if page_obj.has_previous %}
                            <a class="switch-page-button-left button" href="?page={{ page_obj.previous_page_number }}">
                                <img class="switch-page-button-arrow" src="{% static 'core/images/img.png' %}" alt="arrow"/>
                            </a>
                        {% endif %}
                        <div class="page-number-text valign-text-middle plusjakartasans-bold-nepal-12px">
                            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </div>
                        {% if page_obj.has_next %}
                            <a class="switch-page-button-right button" href="?page={{ page_obj.next_page_number }}">
                                <img class="switch-page-button-arrow" src="{% static 'core/images/img.png' %}" alt="arrow"/>
                            </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    <!--END SWITCH-PAGE-->
                </div>
        </div>
    </div>
    <!--END CONTENT-->
{% endblock %}
