{% load static %}
    <!--CONTENT-->
    <div class="content">
        <!--ADS-->
        <div class="ads">
            <div class="ads-1">
                <div class="overlap-group overlap">
                    <img class="bg" src="{% static 'core/images/bg.png' %}" alt="BG"/>
                    <div class="ads-2">
                        <div class="title title-2">
                            <p class="the-best-platform-for-car-rental valign-text-middle plusjakartasans-semi-bold-white-22px">
                                The Best Platform for Car Rental
                            </p>
                            <p class="ease-of-doing-a-car valign-text-middle plusjakartasans-medium-white-18px">
                                Ease of doing a car rental safely and reliably. Of course at a low prise.
                            </p>
                        </div>
                        <div class="button-rent button">
                            <a class="rent valign-text-middle plusjakartasans-semi-bold-white-20px" href="#">
                                Rental Car
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ads-2-1">
                <div class="overlap-group1 overlap">
                    <img class="bg-1" src="{% static 'core/images/bg-1.png' %}" alt="BG"/>
                    <div class="ads-3">
                        <div class="title-1 title-2">
                            <p class="ease-way-to-rent-a-car-at-a-low-price valign-text-middle plusjakartasans-semi-bold-white-22px">
                                Easy way to rent a car at a low price
                            </p>
                            <p class="providing-cheap-car valign-text-middle plusjakartasans-medium-white-18px">
                                Providing cheap car rental services and safe and comfortable facitilites.
                            </p>
                        </div>
                        <div class="button-rent-1 button">
                            <a class="rent valign-text-middle plusjakartasans-semi-bold-white-20px" href="#">
                                Rental Car
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END ADS-->
        <div class="filter-plus-rows">
        <div class="flex-row">
            <div class="filter">
                <!--Category 1-->
                <div class="category">
                    <div class="category-title valign-text-middle plusjakartasans-semi-bold-polo-blue-15px">
                        T Y P E
                    </div>
                    <ul>
                        <li>
                            <div class="category-name">
                                <div class="category-name-text-box category-name-2">
                                    <div class="category-name-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                        <span>
                                            <a class="plusjakartasans-semi-bold-east-bay-12px" href="#">
                                                Sport
                                            </a>
                                            <a class="plusjakartasans-medium-nepal-12px" href="#">
                                                &nbsp;&nbsp;(10)
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--END Category 1-->
                <!--Category 2-->
                <div class="category">
                    <div class="category-title valign-text-middle plusjakartasans-semi-bold-polo-blue-15px">
                        C A P A C I T Y
                    </div>
                    <ul>
                        <li>
                            <div class="category-name">
                                <div class="category-name-text-box category-name-2">
                                    <div class="category-name-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                        <span>
                                            <span class="plusjakartasans-semi-bold-east-bay-12px">
                                                Capacity
                                            </span>
                                            <span class="plusjakartasans-medium-nepal-12px">
                                                &nbsp;&nbsp;(10)
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="category-name">
                                <div class="category-name-text-box category-name-2">
                                    <div class="category-name-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                        <span>
                                            <span class="plusjakartasans-semi-bold-east-bay-12px">
                                                Capacity 2
                                            </span>
                                            <span class="plusjakartasans-medium-nepal-12px">
                                                &nbsp;&nbsp;(10)
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="category-name">
                                <div class="category-name-text-box category-name-2">
                                    <div class="category-name-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                        <span>
                                            <span class="plusjakartasans-semi-bold-east-bay-12px">
                                                Capacity 3
                                            </span>
                                            <span class="plusjakartasans-medium-nepal-12px">
                                                &nbsp;&nbsp;(10)
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="category-name">
                                <div class="category-name-text-box category-name-2">
                                    <div class="category-name-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                        <span>
                                            <span class="plusjakartasans-semi-bold-east-bay-12px">
                                                Capacity 4
                                            </span>
                                            <span class="plusjakartasans-medium-nepal-12px">
                                                &nbsp;&nbsp;(10)
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="category-name">
                                <div class="category-name-text-box category-name-2">
                                    <div class="category-name-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                        <span>
                                            <span class="plusjakartasans-semi-bold-east-bay-12px">
                                                Capacity 5
                                            </span>
                                            <span class="plusjakartasans-medium-nepal-12px">
                                                &nbsp;&nbsp;(10)
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="category-name">
                                <div class="category-name-text-box category-name-2">
                                    <div class="category-name-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                        <span>
                                            <span class="plusjakartasans-semi-bold-east-bay-12px">
                                                Capacity 6
                                            </span>
                                            <span class="plusjakartasans-medium-nepal-12px">
                                                &nbsp;&nbsp;(10)
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--END Category 2-->
            </div>
        </div>
        <!--Cards-->
        <div class="flex-col">
                    <div class="cards">
                        <ul>
                            <li>
                                <div class="card">
                            <div class="car-name">
                                <div class="car-main-name valign-text-middle plusjakartasans-bold-mirage-15px">
                                    Koenigsegg
                                </div>
                                <div class="car-sub-name valign-text-middle plusjakartasans-bold-nepal-12px">
                                    Sport
                                </div>
                            </div>
                            <div class="car">
                                <img class="car-photo" src="{% static 'core/images/car.png' %}" alt="Car"/>
                            </div>
                            <div class="specification">
                                <div class="gasoline">
                                    <div class="gasoline-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        90L
                                    </div>
                                </div>
                                <div class="engine-type">
                                    <div class="engine-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        Manual
                                    </div>
                                </div>
                                <div class="capacity">
                                    <div class="capacity-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        2 People
                                    </div>
                                </div>
                            </div>
                            <div class="price price-8">
                                <div class="price-text-box valign-text-middle plusjakartasans-semi-bold-white-12px">
                                    <span>
                                        <span class="plusjakartasans-bold-mirage-15px">
                                            $99.00
                                        </span>
                                        <span class="plusjakartasans-bold-nepal-12px">
                                            day
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="button-about button">
                                <a class="button-about-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px" href="#">
                                    About
                                </a>
                            </div>
                            <div class="button-rental button">
                                <a class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px" href="#">
                                    Rent now
                                </a>
                            </div>
                        </div>
                            </li>
                            <li>
                                <div class="card">
                            <div class="car-name">
                                <div class="car-main-name valign-text-middle plusjakartasans-bold-mirage-15px">
                                    Koenigsegg
                                </div>
                                <div class="car-sub-name valign-text-middle plusjakartasans-bold-nepal-12px">
                                    Sport
                                </div>
                            </div>
                            <div class="car">
                                <img class="car-photo" src="{% static 'core/images/car.png' %}" alt="Car"/>
                            </div>
                            <div class="specification">
                                <div class="gasoline">
                                    <div class="gasoline-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        90L
                                    </div>
                                </div>
                                <div class="engine-type">
                                    <div class="engine-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        Manual
                                    </div>
                                </div>
                                <div class="capacity">
                                    <div class="capacity-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        2 People
                                    </div>
                                </div>
                            </div>
                            <div class="price price-8">
                                <div class="price-text-box valign-text-middle plusjakartasans-semi-bold-white-12px">
                                    <span>
                                        <span class="plusjakartasans-bold-mirage-15px">
                                            $99.00
                                        </span>
                                        <span class="plusjakartasans-bold-nepal-12px">
                                            day
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="button-about button">
                                <div class="button-about-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                    About
                                </div>
                            </div>
                            <div class="button-rental button">
                                <div class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px">
                                    Rent now
                                </div>
                            </div>
                        </div>
                            </li>
                            <li>
                                <div class="card">
                            <div class="car-name">
                                <div class="car-main-name valign-text-middle plusjakartasans-bold-mirage-15px">
                                    Koenigsegg
                                </div>
                                <div class="car-sub-name valign-text-middle plusjakartasans-bold-nepal-12px">
                                    Sport
                                </div>
                            </div>
                            <div class="car">
                                <img class="car-photo" src="{% static 'core/images/car.png' %}" alt="Car"/>
                            </div>
                            <div class="specification">
                                <div class="gasoline">
                                    <div class="gasoline-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        90L
                                    </div>
                                </div>
                                <div class="engine-type">
                                    <div class="engine-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        Manual
                                    </div>
                                </div>
                                <div class="capacity">
                                    <div class="capacity-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        2 People
                                    </div>
                                </div>
                            </div>
                            <div class="price price-8">
                                <div class="price-text-box valign-text-middle plusjakartasans-semi-bold-white-12px">
                                    <span>
                                        <span class="plusjakartasans-bold-mirage-15px">
                                            $99.00
                                        </span>
                                        <span class="plusjakartasans-bold-nepal-12px">
                                            day
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="button-about button">
                                <div class="button-about-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                    About
                                </div>
                            </div>
                            <div class="button-rental button">
                                <div class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px">
                                    Rent now
                                </div>
                            </div>
                        </div>
                            </li>
                            <li>
                                <div class="card">
                            <div class="car-name">
                                <div class="car-main-name valign-text-middle plusjakartasans-bold-mirage-15px">
                                    Koenigsegg
                                </div>
                                <div class="car-sub-name valign-text-middle plusjakartasans-bold-nepal-12px">
                                    Sport
                                </div>
                            </div>
                            <div class="car">
                                <img class="car-photo" src="{% static 'core/images/car.png' %}" alt="Car"/>
                            </div>
                            <div class="specification">
                                <div class="gasoline">
                                    <div class="gasoline-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        90L
                                    </div>
                                </div>
                                <div class="engine-type">
                                    <div class="engine-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        Manual
                                    </div>
                                </div>
                                <div class="capacity">
                                    <div class="capacity-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        2 People
                                    </div>
                                </div>
                            </div>
                            <div class="price price-8">
                                <div class="price-text-box valign-text-middle plusjakartasans-semi-bold-white-12px">
                                    <span>
                                        <span class="plusjakartasans-bold-mirage-15px">
                                            $99.00
                                        </span>
                                        <span class="plusjakartasans-bold-nepal-12px">
                                            day
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="button-about button">
                                <div class="button-about-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                    About
                                </div>
                            </div>
                            <div class="button-rental button">
                                <div class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px">
                                    Rent now
                                </div>
                            </div>
                        </div>
                            </li>
                            <li>
                                <div class="card">
                            <div class="car-name">
                                <div class="car-main-name valign-text-middle plusjakartasans-bold-mirage-15px">
                                    Koenigsegg
                                </div>
                                <div class="car-sub-name valign-text-middle plusjakartasans-bold-nepal-12px">
                                    Sport
                                </div>
                            </div>
                            <div class="car">
                                <img class="car-photo" src="{% static 'core/images/car.png' %}" alt="Car"/>
                            </div>
                            <div class="specification">
                                <div class="gasoline">
                                    <div class="gasoline-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        90L
                                    </div>
                                </div>
                                <div class="engine-type">
                                    <div class="engine-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        Manual
                                    </div>
                                </div>
                                <div class="capacity">
                                    <div class="capacity-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        2 People
                                    </div>
                                </div>
                            </div>
                            <div class="price price-8">
                                <div class="price-text-box valign-text-middle plusjakartasans-semi-bold-white-12px">
                                    <span>
                                        <span class="plusjakartasans-bold-mirage-15px">
                                            $99.00
                                        </span>
                                        <span class="plusjakartasans-bold-nepal-12px">
                                            day
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="button-about button">
                                <div class="button-about-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                    About
                                </div>
                            </div>
                            <div class="button-rental button">
                                <div class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px">
                                    Rent now
                                </div>
                            </div>
                        </div>
                            </li>
                            <li>
                                <div class="card">
                            <div class="car-name">
                                <div class="car-main-name valign-text-middle plusjakartasans-bold-mirage-15px">
                                    Koenigsegg
                                </div>
                                <div class="car-sub-name valign-text-middle plusjakartasans-bold-nepal-12px">
                                    Sport
                                </div>
                            </div>
                            <div class="car">
                                <img class="car-photo" src="{% static 'core/images/car.png' %}" alt="Car"/>
                            </div>
                            <div class="specification">
                                <div class="gasoline">
                                    <div class="gasoline-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        90L
                                    </div>
                                </div>
                                <div class="engine-type">
                                    <div class="engine-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        Manual
                                    </div>
                                </div>
                                <div class="capacity">
                                    <div class="capacity-text valign-text-middle plusjakartasans-medium-nepal-12px">
                                        2 People
                                    </div>
                                </div>
                            </div>
                            <div class="price price-8">
                                <div class="price-text-box valign-text-middle plusjakartasans-semi-bold-white-12px">
                                    <span>
                                        <span class="plusjakartasans-bold-mirage-15px">
                                            $99.00
                                        </span>
                                        <span class="plusjakartasans-bold-nepal-12px">
                                            day
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="button-about button">
                                <div class="button-about-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px">
                                    About
                                </div>
                            </div>
                            <div class="button-rental button">
                                <div class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px">
                                    Rent now
                                </div>
                            </div>
                        </div>
                            </li>
                        </ul>
                    </div>
                    <!--END Cards-->
                    <!--SWITCH-PAGE-->
                    <div class="switch-page">
                        <a class="switch-page-button-left button" href="#">
                            <img class="switch-page-button-arrow" src="{% static 'core/images/img.png' %}" alt="arrow"/>
                        </a>
                        <div class="page-number-text valign-text-middle plusjakartasans-bold-nepal-12px">
                            1 of 5
                        </div>
                        <a class="switch-page-button-right button" href="#">
                            <img class="switch-page-button-arrow" src="{% static 'core/images/img.png' %}" alt="arrow"/>
                        </a>
                    </div>
                    <!--END SWITCH-PAGE-->
                </div>
        </div>
    </div>
    <!--END CONTENT-->
    <!--FOOTER-->
    <footer>
        <div class="footer-text">
        <a class="copyright valign-text-middle plusjakartasans-semi-bold-licorice-15px" href="#">
            ©2022 MORENT. All rights reserved
        </a>
        <a class="privacy-policy valign-text-middle plusjakartasans-semi-bold-licorice-15px" href="#">
            Privacy & Policy
        </a>
        <a class="terms-condition valign-text-middle plusjakartasans-semi-bold-licorice-15px" href="#">
            Terms & Condition
        </a>
        </div>
    </footer>
    <!--END FOOTER-->
</div>
</body>
</html>