{% extends 'core/base.html' %}

{% block content %}
{% load static %}
<form method="post">
    {% csrf_token %}
    <div class="content-authentication">
        <div class="authentication-content-box">
            <div class="flex-row-authentication">
                <div class="info-title-box">
                    <div class="info-title valign-text-middle plusjakartasans-semi-bold-black-20px">
                        Authorisation
                    </div>
                    <p class="info-help valign-text-middle plusjakartasans-medium-nepal-15px">
                        Please enter your authorisation info
                    </p>
                </div>
            </div>
            <div class="field-box-authentication">
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Login {{ form.username.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.username }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field-box-authentication">
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Password {{ form.password.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.password }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="registration-link">
               <p class="info-help valign-text-middle plusjakartasans-medium-nepal-15px">
                    Don't have an account?
                </p>
                <a class="sign-up-link valign-text-middle plusjakartasans-medium-nepal-15px" href="{% url 'register' %}">Sign up</a>
            </div>
            <div class="authorisation-button">
                <div class="button-for-info-page">
                    <div class="button-back-to-main button">
                        <a class="button-back-to-main-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px" href="{% url 'home' %}">
                            Back to main
                        </a>
                    </div>
                    <div class="button-rental button">
                        <input class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px" type="submit" value="Login">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}