{% extends 'core/base.html' %}

{% block content %}
{% load static %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="content-payment">
        <!--BLOCK 1-->
        <div class="payment-content-box">
            <div class="flex-row-payment">
                <div class="info-title-box">
                    <div class="info-title valign-text-middle plusjakartasans-semi-bold-black-20px">
                        Billing Info
                    </div>
                    <p class="info-help valign-text-middle plusjakartasans-medium-nepal-15px">
                        Please enter your billing info
                    </p>
                </div>
                <div class="step-text valign-text-middle plusjakartasans-medium-nepal-15px">
                    Step 1 of 4
                </div>
            </div>
            <div class="field-box">
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Name {{ form.name.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.name }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Phone number {{ form.phone_number.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.phone_number }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field-box">
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Adress {{ form.adress.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.adress }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Town / City {{ form.city.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.city }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END BLOCK 1-->
        <!--BLOCK 2-->
        <div class="payment-content-box">
            <div class="flex-row-payment">
                <div class="info-title-box">
                    <div class="info-title valign-text-middle plusjakartasans-semi-bold-black-20px">
                        Rental Info
                    </div>
                    <p class="info-help valign-text-middle plusjakartasans-medium-nepal-15px">
                        Please enter your rental date
                    </p>
                </div>
                <div class="step-text valign-text-middle plusjakartasans-medium-nepal-15px">
                    Step 2 of 4
                </div>
            </div>
            <div class="mark-box">
                <div class="mark">
                    <img class="mark-image" src="{% static 'core/images/mark-image.png' %}" alt="mark-image"/>
                </div>
                <div class="mark-text valign-text-middle plusjakartasans-bold-mirage-15px">
                    Pick - Up
                </div>
            </div>
            <div class="field-box">
                    <div class="field-box-element">
                        <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                            Location {{ form.pick_up_location.errors }}
                        </div>
                        <div class="field-box-element-text-box">
                            <div class="overlap-group-field overlap-field">
                                <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                    {{ form.pick_up_location }}
                                </div>
                                <img class="select-image" src="{% static 'core/images/select-image.png' %}" alt="select-image">
                            </div>
                        </div>
                    </div>
                    <div class="field-box-element">
                        <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                            Date {{ form.pick_up_date.errors }}
                        </div>
                        <div class="field-box-element-text-box">
                            <div class="overlap-group-field overlap-field">
                                <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                    {{ form.pick_up_date }}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="field-box">
                    <div class="field-box-element">
                        <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                            Time {{ form.pick_up_time.errors }}
                        </div>
                        <div class="field-box-element-text-box">
                            <div class="overlap-group-field overlap-field">
                                <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                    {{ form.pick_up_time }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if car_name == 'auto' %}
                        <div class="field-box-element">
                            <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                                Car
                            </div>
                            <div class="field-box-element-text-box">
                                <div class="overlap-group-field overlap-field">
                                    <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                            {{ form.car }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    <div class="field-box-element">
                        <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                            Car
                        </div>
                        <div class="field-box-element-text-box">
                            <div class="overlap-group-field overlap-field">
                                <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                   <label for="id_car"></label>
                                     <input type="text" name="car"
                                        class="element-text valign-text-middle plusjakartasans-medium-nepal-15px"
                                        placeholder="{{ car_name }}" required="" id="id_car" value="{{ car_id }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
            <div class="mark-box">
                <div class="mark">
                    <img class="mark-image" src="{% static 'core/images/mark-image.png' %}" alt="mark-image"/>
                </div>
                <div class="mark-text valign-text-middle plusjakartasans-bold-mirage-15px">
                    Drop - Off
                </div>
            </div>
            <div class="field-box">
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Location {{ form.drop_off_location.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.drop_off_location }}
                            </div>
                            <img class="select-image" src="{% static 'core/images/select-image.png' %}" alt="select-image">
                        </div>
                    </div>
                </div>
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Data {{ form.drop_off_date.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.drop_off_date }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field-box">
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Time {{ form.drop_off_time.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.drop_off_time }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Status
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                Your status
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END BLOCK 2-->
        <!--BLOCK 3-->
        <div class="payment-content-box">
            <div class="flex-row-payment">
                <div class="info-title-box">
                    <div class="info-title valign-text-middle plusjakartasans-semi-bold-black-20px">
                        Payment Info
                    </div>
                    <p class="info-help valign-text-middle plusjakartasans-medium-nepal-15px">
                        Please enter your payment info
                    </p>
                </div>
                <div class="step-text valign-text-middle plusjakartasans-medium-nepal-15px">
                    Step 3 of 4
                </div>
            </div>
            <div class="mark-box-payment">
                <div class="mark-box">
                    <div class="mark">
                        <img class="mark-image" src="{% static 'core/images/mark-image.png' %}" alt="mark-image"/>
                    </div>
                    <div class="mark-text valign-text-middle plusjakartasans-bold-mirage-15px">
                        Credit Card
                    </div>
                </div>
                <img class="payment-card-image" src="{% static 'core/images/payment-card-image.png' %}" alt="payment-card-image"/>
            </div>
            <div class="field-box">
                    <div class="field-box-element">
                        <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                            Card Number {{ form.card_number.errors }}
                        </div>
                        <div class="field-box-element-text-box">
                            <div class="overlap-group-field overlap-field">
                                <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                    {{ form.card_number }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field-box-element">
                        <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                            Expration Date {{ form.expration_date.errors }}
                        </div>
                        <div class="field-box-element-text-box">
                            <div class="overlap-group-field overlap-field">
                                <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                    {{ form.expration_date }}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="field-box">
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        Card Holder {{ form.card_holder.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.card_holder }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-box-element">
                    <div class="field-box-element-label valign-text-middle plusjakartasans-bold-mirage-15px">
                        CVC {{ form.cvc.errors }}
                    </div>
                    <div class="field-box-element-text-box">
                        <div class="overlap-group-field overlap-field">
                            <div class="element-text valign-text-middle plusjakartasans-medium-nepal-15px">
                                {{ form.cvc }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END BLOCK 3-->
        <!--BLOCK 4-->
        <div class="payment-content-box">
            <div class="flex-row-payment">
                <div class="info-title-box">
                    <div class="info-title valign-text-middle plusjakartasans-semi-bold-black-20px">
                        Confirmation
                    </div>
                    <p class="info-help valign-text-middle plusjakartasans-medium-nepal-15px">
                        We are getting to the end. Just few clicks and your rental is ready!
                    </p>
                </div>
                <div class="step-text valign-text-middle plusjakartasans-medium-nepal-15px">
                    Step 4 of 4
                </div>
            </div>
            <div class="confirmation">
                <div class="confirmation-text-box">
                    <div class="overlap-group-confirmation overlap-confirmation">
                        {{ form.confirmation_one }}
                        <div class="confirmation-text valign-text-middle plusjakartasans-bold-mirage-15px">
                             I agree with sending an Marketing and newsletter emails. No spam, promissed!
                        </div>
                    </div>
                </div>
                <div class="confirmation-text-box">
                    <div class="overlap-group-confirmation overlap-confirmation">
                        {{ form.confirmation_two }}
                        <div class="confirmation-text valign-text-middle plusjakartasans-bold-mirage-15px">
                             I agree with our terms and conditions and privacy policy.
                        </div>
                    </div>
                </div>
            </div>
            <div class="confirmation-button-plus-data">
                <div class="safe-data">
                    <img class="safe-image" src="{% static 'core/images/safe-image.png' %}" alt="safe-image"/>
                    <div class="info-title-box-safe-data">
                        <div class="info-title-safe-data valign-text-middle plusjakartasans-semi-bold-black-20px">
                            All your data are safe
                        </div>
                        <p class="info-help-safe-data valign-text-middle plusjakartasans-medium-nepal-15px">
                            We are using the most advanced security to provide you the best experience ever.
                        </p>
                    </div>
                </div>
                <div class="button-for-info-page">
                        <div class="button-back-to-main button">
                            <a class="button-back-to-main-text valign-text-middle plusjakartasans-semi-bold-royal-blue-15px" href="{% url 'home' %}">
                                Back to main
                            </a>
                        </div>
                        <div class="button-rental button">
                            <input class="button-rental-text valign-text-middle plusjakartasans-semi-bold-white-15px" type="submit" value="Rent Now">
                        </div>
                </div>
            </div>
        </div>
        <!--END BLOCK 4-->
    </div>

</form>
{% endblock %}