@import "../../style.scss";

.filter-item {
    // display: inline-block;

    // &:not(:first-child) {
    //     margin-top: 35px;
    // }

    &__title {
        color: #94A7CB;
        font-weight: 600;
        font-size: 15px;
        line-height: 150%;
        margin-bottom: 15px;
    }

    &__parametrs-body {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}

.spoiler-block {
    cursor: pointer;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
}

// .parametr {
//     font-weight: 600;
//     font-size: 12px;
//     line-height: 150%;
//     color: #3D5278;
// }

.filter-item__spoiler-body {
    max-height: 0px;
    // width: 100%;
    // outline: none;
    // float: left;
    // position: relative;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -ms-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.open {
    max-height: 250px;
}


@media(max-width: $pc) {
    .filter-block {
        // display: inline-block;
        // position: relative;
        // border: 1px solid #3D5278;
        // border-radius: 30px;
        // padding: 12px 20px;

        &:not(:first-child) {
            margin-top: 0px;
        }

        &__title {
            margin-bottom: 0px;
        }

        &__parametrs-body {
            position: relative;
            // top: 50px;
            // left: 10px;
        }
    }


    .filter-component {

        &__item {}
    }

    .filter-item {

        &__spoiler-block {
            margin-bottom: 15px;
        }

        &__title {
            margin-bottom: 0px;
        }

        &__body-wrapper {}

        &__spoiler-body {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }

        label {
            font-weight: 600;
            font-size: 12px;
            line-height: 150%;
            color: #3D5278;
        }

        &__parametr {}
    }

    .spoiler-block {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;

        &__icon {}
    }

}

@media(max-width: $mobileSmall) {

    .filters-block {
        // display: inline-block;
        // position: relative;
        // border-radius: 30px;
        // padding: 12px 20px;
    }

}