@import "stylegiude.css";

body {
    width: 100%;
    margin: 0;
}

.main {
    align-items: stretch;
    background-color: var(--white);
    display: flex;
    margin-left:auto;
    margin-right:auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100%;
    width: 1280px;
}

.main .overlap {
    height: 255px;
    position: relative;
}

.main .button {
    border-radius: 5px;
    display: flex;
    position: relative;
}

.valign-text-middle, .valign-text-middle::placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*HEADER*/
.header {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    padding: 0 3vh;
    justify-content: space-between;
    mix-blend-mode: normal;
    width: calc(100% - 6vh);
}

.logo {
    align-items: flex-start;
    display: flex;
    min-width: 186px;
}

.logo-1 {
    color: var(--royal-blue);
    font-family: var(--font-family-plus-jakarta_sans);
    font-size: var(--font-size-xxl2);
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 48px;
    text-align: center;
    width: 186px;
}

.logo-link {
    text-decoration: none;
    color: var(--royal-blue);
}

.menu {
    align-items: center;
    display: flex;
    gap: 50px;
    position: relative;
    width: fit-content;
}

.menu-item {
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 150px;
}

.button-login {
    align-items: center;
    background-color: var(--royal-blue);
    height: fit-content;
    padding: 10px 15px;
    width: 120px;
}

.login {
    align-self: stretch;
    flex: 1;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
}
/*END HEADER*/

/*CONTENT BODY*/
.content {
    align-items: flex-start;
    background-color: #f6f6f9;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.filter-plus-rows {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.switch-page {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 152px;
}

.switch-page-button-left {
    align-items: flex-start;
    background-color: var(--royal-blue);
    gap: 10px;
    padding: 14px 7px;
    width: fit-content;
    rotate: 180deg;
    justify-content: center;
}

.switch-page-button-right {
    align-items: flex-start;
    background-color: var(--royal-blue);
    gap: 10px;
    padding: 14px 7px;
    width: fit-content;
    justify-content: center;
}

.switch-page-button-arrow {
    width: 70%;
}

/*ADS*/
.ads {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
    height: 330px;
    width: 100%;
}

.ads-1 {
    align-items: flex-end;
    background-color: var(--blue-jeans);
    border-radius: 15px;
    display: flex;
    height: 280px;
    overflow: hidden;
    width: 593px;
}

.overlap-group {
    margin-left: 25px;
    width: 568px;
}

.bg {
    height: 132px;
    left: 153px;
    position: absolute;
    top: 123px;
    width: 415px;
}

.ads-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 320px;
}

.button-rent {
    align-items: center;
    background-color: var(--royal-blue);
    gap: 10px;
    justify-content: center;
    padding: 7px 20px;
    width: fit-content;
}

.rent {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.79px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.main .title-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title {
    height: 102px;
    margin-right: -24px;
    width: 344px;
}

.the-best-platform-for-car-rental {
    height: 25px;
    letter-spacing: -0.22px;
    line-height: 26.4px;
    margin-top: 5px;
    position: relative;
    width: 200px;
}

.ease-of-doing-a-car {
    height: 43px;
    letter-spacing: 0.36px;
    line-height: 28.8px;
    margin-bottom: -9.61px;
    position: relative;
    width: 344px;
}

.ads-2-1 {
    align-items: flex-end;
    background-color: var(--royal-blue);
    border-radius: 15px;
    display: flex;
    height: 280px;
    overflow: hidden;
    padding: 0 5px;
    width: 592px;
}

.overlap-group1 {
    margin-left: 20px;
    width: 562px;
}

.bg-1 {
    height: 174px;
    left: 201px;
    position: absolute;
    top: 81px;
    width: 361px;
}

.ads-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 201px;
    left: 0;
    position: absolute;
    top: 0;
    width: 320px;
    gap: 35px;
}



.button-rent-1 {
    align-items: center;
    background-color: var(--blue-jeans);
    gap: 10px;
    justify-content: center;
    padding: 7px 20px;
    width: fit-content;
}

.rent {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.79px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.main .title-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title-1 {
    width: 320px;
}

.ease-way-to-rent-a-car-at-a-low-price {
    height: 25px;
    letter-spacing: -0.22px;
    line-height: 26.4px;
    margin-top: 5px;
    position: relative;
    width: 240px;
}

.providing-cheap-car {
    height: 43px;
    letter-spacing: 0.36px;
    line-height: 28.8px;
    position: relative;
    width: 344px;
}
/*END ADS*/

/*FILTER*/
.filter {
    align-items: flex-end;
    background-color: var(--white);
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 54px - 20px - 40px);
    overflow: hidden;
    padding: 20px 20px 20px 20px;
    width: 200px;
}

.category {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    min-height: 275px;
    width: 186px;
}

.category-title {
    height: 23px;
    letter-spacing: 0.3px;
    line-height: 22.5px;
    white-space: nowrap;
}

.category-name {
    align-items: flex-start;
    display: flex;
    margin-top: 5px;
    min-width: 127px;
}

.category-name-text-box {
    justify-content: flex-end;
}

.category-name-text {
    height: 26px;
    letter-spacing: -0.24px;
    line-height: 18px;
    margin-top: -1px;
    text-align: justify;
    width: 127px;
}

.main .category-name-2 {
    align-items: flex-start;
    display: flex;
    min-width: 127px;
}
/*END FILTER*/
/*CARDS*/
.flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 1010px;
}

.cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
}

.cards ul {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
}

.card {
    align-items: center;
    background-color: var(--white);
    border-radius: 4px;
    display: flex;
    gap: 30px;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 1010px;
}

.car-name {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80px;
}

.car-main-name {
    height: 13px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.4px;
    position: relative;
    width: 142px;
}

.car-sub-name {
    height: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 77px;
}

.car {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: fit-content;
}

.car-photo {
    height: 67px;
    min-width: 206px;
    position: relative;
}

.specification {
    align-items: center;
    display: flex;
    gap: 11px;
    padding: 0 10px;
    position: relative;
    width: fit-content;
}

.main .gasoline {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: fit-content;
}

.gasoline-text {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.4px;
}

.engine-type {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: fit-content;
}

.main .engine-text {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.4px;
    position: relative;
    width: fit-content;
}

.capacity {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 3px 0;
    position: relative;
    width: fit-content;
}

.capacity-text {
    margin-top: -0.4px;
    position: relative;
    width: fit-content;
}

.price {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.main .price-8 {
    position: relative;
    width: fit-content;
}

.price-text-box {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.4px;
    position: relative;
    width: fit-content;
}

.button-about {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--royal-blue);
    gap: 10px;
    padding: 10px 15px;
    width: fit-content;
}

.button-about-text {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.button-rental {
    align-items: flex-start;
    background-color: var(--royal-blue);
    gap: 10px;
    padding: 10px 15px;
    width: fit-content;
}

.button-rental-text {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.79px;
    position: relative;
    text-align: center;
    width: fit-content;
}
/*END CARDS*/
/*END CONTENT BODY*/

/*FOOTER*/
.footer-text {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    gap: 100px;
    height: 90px;
    justify-content: center;
    width: 100%;
}

.copyright {
    height: 30px;
    letter-spacing: -0.15px;
    line-height: 30px;
    position: relative;
}

.privacy-policy {
    height: 30px;
    letter-spacing: -0.15px;
    line-height: 30px;
    position: relative;
}

.terms-condition {
    height: 30px;
    letter-spacing: -0.15px;
    line-height: 30px;
    position: relative;
}
/*END FOOTER*/

a {
    text-decoration: none;
}

/*FORM*/
.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}
/*END FORM*/

/*DETAIL INFO*/
.detail {
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    width: 800px;
    height: 380px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.detail-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 49px;
    min-height: 325px;
    width: 475px;
}

.detail-title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: fit-content;
}

.detail-title-text {
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 170px;
}

.review {
    display: flex;
    gap: 5px;
    height: 20px;
    position: relative;
    width: 200px;
}

.star {
    align-items: flex-start;
    display: flex;
    position: relative;
    height: 20px;
}

.star-image {
    height: 16px;
}

.review-text {
    letter-spacing: 0.3px;
    line-height: normal;
    position: relative;
    width: 118px;
    height: 20px;
}

.detail-info-block {
    align-items: flex-end;
    flex-direction: column;
    gap: 43px;
    height: 232px;
    justify-content: flex-end;
    display: flex;
    position: relative;
    width: fit-content;
}

.detail-info {
    align-items: center;
    gap: 85px;
    display: flex;
    position: relative;
    width: fit-content;
}

.detail-info-text {
    position: relative;
    width: 250px;
    line-height: 30px;
    letter-spacing: -0.3px;
}

.detail-info-specification {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.specification-item {
    display: flex;
    gap: 15px;
}

.specification-item-title {
    letter-spacing: -0.15px;
    line-height: normal;
    margin-top: -0.62px;
    position: relative;
}

.specification-item-text {
    letter-spacing: -0.3px;
    line-height: normal;
    margin-top: -0.62px;
    position: relative;
    width: fit-content;
    white-space: nowrap;
}

.button-for-info-page {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    position: relative;
    width: fit-content;
}

.button-back-to-main {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--royal-blue);
    gap: 10px;
    padding: 10px 15px;
    width: fit-content;
}

.button-back-to-main-text {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
}

.detail-photo {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12.35px;
    margin-top: 0;
    position: relative;
    width: fit-content;
}

.main-photo-box {
    background-color: var(--royal-blue);
    border-radius: 5px;
    height: 100px;
    min-width: 250px;
    position: relative;
}

.main-photo {
    height: 60px;
    left: 25px;
    position: absolute;
    top: 20px;
    width: 200px;
}

.other-car-photo {
    height: 100px;
    min-width: 250px;
    object-fit: cover;
    position: relative;
}

.detail-content {
    align-items: center;
    background-color: #f6f6f9;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
/*END DETAIL INFO*/

/*PAYMENT INFO*/
.payment-content-box {
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
    padding: 16px 0;
    width: 852px;
}

.flex-row-payment {
    align-items: flex-start;
    display: flex;
    height: 50px;
    margin-top: 8px;
    min-width: 804px;
    justify-content: space-between;
}

.info-title-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: fit-content;
}

.info-title {
    height: 24px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 192px;
}

.info-help {
    height: 20px;
    margin: 0;
}

.step-text {
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 1px;
    text-align: right;
}

.field-box {
    align-items: flex-start;
    display: flex;
    gap: 32px;
    height: 92px;
    min-width: 804px;
}

.field-box-element {
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: fit-content;
    display: flex;
}

.field-box-element-label {
    height: 20px;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 120px;
}

.field-box-element-text-box {
    height: 56px;
    margin-right: -2px;
    min-width: 388px;
    position: relative;
}

.overlap-group-field {
    padding: 0 32px;
    align-items: center;
    background-color: #f6f6f9;
    border-radius: 10px;
    display: flex;
    height: 56px;
    justify-content: space-between;
}

.element-text, .element-text::placeholder {
    height: 24px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    width: fit-content;
}

.mark-box {
    align-items: center;
    display: flex;
    gap: 9px;
    position: relative;
    width: calc(100% - 45px);
}

.mark {
    align-items: center;
    background-color: #3563e94c;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    padding: 4px;
    position: relative;
    width: fit-content;
}

.mark-image {
    height: 16px;
    min-width: 16px;
    object-fit: cover;
    position: relative;
}

.mark-text {
    height: 20px;
    letter-spacing: -0.32px;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.mark-box-payment {
    height: 24px;
    min-width: 804px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-card-image {
    height: 20px;
    margin-bottom: 0.2px;
    object-fit: cover;
    width: 100px;
}

.confirmation {
    align-items: flex-start;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: fit-content;
}

.confirmation-text-box {
    height: 56px;
    margin-right: -2px;
    min-width: 806px;
    position: relative;
}

.confirmation-text {
    height: 24px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    width: fit-content;
    margin-left: 30px;
}

.overlap-group-confirmation {
    min-width: 804px;
    align-items: center;
    background-color: #f6f6f9;
    border-radius: 10px;
    display: flex;
    height: 56px;
    justify-content: flex-start;
}

.safe-data {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: fit-content;
}

.safe-image {
    height: 32px;
    min-width: 32px;
    object-fit: cover;
    position: relative;
}

.content-payment {
    align-items: center;
    background-color: #f6f6f9;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
    padding: 30px 0;
    width: 100%;
}

.confirmation-button-plus-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.select-image {
    height: 28px;
    width: 28px;
    object-fit: cover;
}

input {
    border: 0;
    background: none;
}

input:focus {
    outline: none;
    border: 0;
    background: none;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-left: 20px;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 1px solid var(--royal-blue);
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--royal-blue);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 6px;
}

.info-title-box-safe-data {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: fit-content;
}

.info-title-safe-data {
    height: 24px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
    white-space: nowrap;
}

.info-help-safe-data {
    height: 20px;
    margin: 0;
}
/*END PAYMENT INFO*/

/*AUTHENTICATION FORM*/
.content-registration {
    align-items: center;
    background-color: #f6f6f9;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
    padding: 30px 0;
    width: 100%;
}

.registration-content-box {
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
    padding: 16px 0;
    width: 852px;
}

.flex-row-registration {
align-items: flex-start;
    display: flex;
    height: 50px;
    margin-top: 8px;
    min-width: 804px;
    justify-content: space-between;
}

.content-authentication {
    align-items: center;
    background-color: #f6f6f9;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
    padding: 30px 0;
    width: 100%;
}

.authentication-content-box {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
    padding: 16px 16px;
    width: 388px;
}

.flex-row-authentication {
align-items: flex-start;
    display: flex;
    height: 50px;
    margin-top: 8px;
    justify-content: space-between;
}

.field-box-authentication {
    align-items: flex-start;
    display: flex;
    gap: 32px;
    height: 92px;
}

.authorisation-button {
    width: calc(100% - 45px);
}

.sign-up-link {
    text-decoration: none;
    color: var(--royal-blue);
    height: 20px;
    margin: 0;
}

.registration-link {
    display: flex;
    gap: 10px;
}
/*END AUTHENTICATION FORM*/
/*PROFILE*/
.profile-content {
    align-items: center;
    background-color: #f6f6f9;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.profile {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    justify-content: space-evenly;
    gap:10px;
    flex-direction: column;
}

.profile-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width: calc(100% - 40px);
}
.profile-title {
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.profile-info-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.profile-info-detail-item {
    display: flex;
    gap: 15px;
}

.profile-info-detail-item-title {
    letter-spacing: -0.15px;
    line-height: normal;
    margin-top: -0.62px;
    position: relative;
}

.profile-info-detail-item-text {
    letter-spacing: -0.3px;
    line-height: normal;
    margin-top: -0.62px;
    position: relative;
    width: fit-content;
    white-space: nowrap;
}

.order {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    width: fit-content;
    margin-left: 20px;
    margin-top: 20px;
}

.order-title {
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 170px;
}

.order-labels {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    position: relative;
    width: fit-content;
}

.order-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    position: relative;
    width: fit-content;
}

.order-box-item {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    position: relative;
    width: fit-content;
}

.order-box-item-text {
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 120px;
}

.button-change {
    align-items: flex-start;
    background-color: var(--royal-blue);
    gap: 10px;
    padding: 10px 15px;
    width: fit-content;
}

.button-change-text  {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.79px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.switch-page-profile {
    width: 100%;
    display: flex;
    justify-content: center;
}

.order-labels-item {
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 120px;
}

.button-profile {
    width: 100%;
    display: flex;
    justify-content: center;
}
/*END PROFILE*/