@import "../style.scss";

.wrapper {}

.page {
    flex: 1 1 auto;
    background-color: #F6F7F9;
}

.adt {

    &__container {}
}

.ads {

    &__body {
        display: flex;
        justify-content: space-between;
        gap: 30px 20px;
        margin: 20px 0px;
    }
}


.main-content {
    margin: 25px 40px 25px 0px;

    &__container {
        padding-left: 0px;
        display: flex;
        column-gap: 20px;
    }

    &__body {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 20px;
        margin-right: -20px;

    }
}

.car-list {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;

    .empty-car-list {
        font-size: 24px;
        margin-top: 70px;
    }
}

@media(max-width: $pc) {
    .main-content {
        display: flex;
        align-items: center;
        margin: 25px 10px;

        &__container {
            position: relative;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            width: 100%;
        }

        &__body {
            margin: 0;
        }
    }

    .car-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 14px;
        column-gap: 12px;
    }
}

@media(max-width: $tablet) {
    .car-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: $mobile) {
    // section .main-content__container {
    //     width: 100%;
    // }

    .main-content {
        margin: 20px auto;

        &__body {
            width: 100%;

        }
    }

    .car-list {
        max-width: 640px;
        width: 100%;
        grid-template-columns: 1fr;
    }
}

@media(max-width: $mobileSmall) {
    section .main-content__container {
        padding: 0px 0px;
        width: 100%;
    }

    .car-list {
        row-gap: 6px;
    }
}