@import "../../style.scss";


.header {
	background: #fff;
	@include adaptiveValue("padding-top", 25, 15);
	@include adaptiveValue("padding-bottom", 25, 15);

	&__container {
		min-height: 70px;
		display: flex;
		align-items: center;

		@media(max-width: $mobile) {
			flex-direction: column;
			row-gap: 20px;
			align-items: center;
			padding-top: 20px;
		}
	}

	&__menu {
		flex: 1 1 auto;
	}

	&__btns-block {
		display: flex;
		flex: 1 1 auto;
		column-gap: 10px;
		justify-content: center;
		align-items: center;
	}
}

.logo {
	color: #3563e9;
	font-weight: 700;
	line-height: 120%;

	&__text {
		@include adaptiveValue("font-size", 40, 20);
	}
}

.menu {

	&__items {
		@include adaptiveValue("margin-left", 115, 10);
		display: flex;
		// max-width: 400px;

		@include adaptiveValue("column-gap", 85, 10);
		flex-wrap: wrap;
		row-gap: 10px;

		// column-gap: 85px;
		@media(max-width: $mobile) {
			margin-left: 0px;
		}
	}

	&__item {
		row-gap: 86px;
	}

	&__item-link {
		text-decoration: underline;
		font-size: 20px;
		@include adaptiveValue("font-size", 20, 16);
		font-weight: 600;
		line-height: 25.2px;
	}
}



.login {
	margin-left: 20px;
	min-width: 86px;

	@media(max-width: $mobile) {
		margin-left: 0px;
	}

	&__link {
		cursor: pointer;
		vertical-align: baseline;
		font-weight: 600;
		font-size: 15px;
		line-height: 150%;
		padding: 10px 7px;
	}
}

@media(max-width: $mobile) {
	.header {

		&__btns-block {
			width: 40%;
			column-gap: 30px;
		}
	}

}