@import "../../style.scss";

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #F6F7F9;
    z-index: 1001;

    &__timer {}
}

.preloader-image-body {
    position: relative;
    top: 35%;
    left: 50%;
    width: 135px;
    height: 135px;
    transform: translate(-50%, -50%);

    &__image {
        animation: preloader-rotate 2s infinite linear;
    }
}

.preloader-timer {
    position: relative;
    top: 30%;
    left: 52%;
    width: 460px;
    transform: translate(-50%, -50%);

    &__text {
        margin-top: 2.5rem;
        font-size: 24px;
        font-weight: 500;
        line-height: 175%;
        color: $mainColor;
    }
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: $mobile) {
    .preloader-timer {
        left: 52%;
    }

}

@media(max-width: $mobileSmall) {

    .preloader-image-body {
        top: 20%;
        width: 80px;
        height: 50px;
    }

    .preloader-timer {
        width: 300px;

        &__text {
            margin-top: 1rem;
            font-size: 16px;
        }
    }

}